.fortune{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* border: solid; */
    font-size: 5vh;
    text-align: center;
    margin-left:6%;
    margin-bottom: 5%;
}
.button{
    /* border:solid; */
    background: whitesmoke;
    border-radius: 25px;
    width:8%;
    height: 4vh;
    font-size: 2vh;

}